{{ define "title" }}
    {{ if .User.IsAdmin }}
        All Problems
    {{ else }}
        My Problems
    {{ end }}
{{ end }}

{{ define "content" }}
{{ $admin := .User.IsAdmin }}
<table>
    <thead>
        <tr>
            <th>Problem ID</th>
            <th>Name</th>
            {{ if $admin }}
                <th>Owner</th>
            {{ end }}
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Problems }}
            <tr>
                <td><a href="/problem/{{.ID}}">{{.ID}}</td>
                <td><a href="/problem/{{.ID}}">{{.Name}}</a></td>
                {{ if $admin }}
                    <td><a href="/profile/{{.Owner}}">{{.Owner}}</a></td>
                {{ end }}
                <td>{{ .Status }}</td>
                <td>
                    <a href="/edit/{{ .ID }}">Edit</a>
                    {{ if eq .Status "Published" }}
                        <form action="/draft-problem" method="POST">
                            <input type="hidden" id="problem_id" name="problem_id" value="{{ .ID }}">
                            <button type="submit">Draft</button>
                        </form>
                    {{ else }}
                        <form action="/publish-problem" method="POST">
                            <input type="hidden" id="problem_id" name="problem_id" value="{{ .ID }}">
                            <button type="submit">Publish</button>
                        </form>
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </tbody>
</table>

<div>
    {{ if gt .CurrentPage 1 }}
        <a href="/problemset?page={{ sub .CurrentPage 1 }}"> Prev </a>
    {{ end }}

    <span>{{.CurrentPage}}</span>

    {{ if lt .CurrentPage .TotalPages }}
        <a href="/problemset?page={{ add .CurrentPage 1 }}"> Next </a>
    {{ end }}
</div>
{{ end }}