{{ define "title" }}
    {{ if .User.IsAdmin }}
        All Problems - KeMV Online Judge
    {{ else }}
        My Problems - KeMV Online Judge
    {{ end }}
{{ end }}

{{ define "content" }}
<div>
    <div class="content-header">
        <h1>
            {{ if .User.IsAdmin }}
                All Problems
            {{ else }}
                My Problems
            {{ end }}
        </h1>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-id">ID</th>
                    <th class="col-name">Problem</th>
                    {{ if .User.IsAdmin }}
                        <th class="col-owner">Owner</th>
                    {{ end }}
                    <th class="col-status">Status</th>
                    <th class="col-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Problems }}
                <tr class="table-row">
                    <td>{{.ID}}</td>
                    <td>
                        <a href="/problem/{{.ID}}" class="problem-link">{{.Title}}</a>
                    </td>
                    {{ if $.User.IsAdmin }}
                        <td><a href="/profile/{{.Owner}}">{{.Owner}}</a></td>
                    {{ end }}
                    <td>
                        <span class="status-badge status-{{.Status}}">{{.Status}}</span>
                    </td>
                    <td class="actions-cell">
                        <div class="actions-group">
                            <a href="/editproblem/{{.ID}}" class="btn btn-edit">Edit</a>

                            {{ if $.User.IsAdmin }}
                                {{ if eq .Status "Published" }}
                                    <form action="/draft-problem" method="POST">
                                        <input type="hidden" name="problem_id" value="{{.ID}}">
                                        <button type="submit" class="btn">Draft</button>
                                    </form>
                                {{ else }}
                                    <form action="/publish-problem" method="POST">
                                        <input type="hidden" name="problem_id" value="{{.ID}}">
                                        <button type="submit" class="btn">Publish</button>
                                    </form>
                                {{ end }}
                            {{ end }}
                        </div>
                    </td>
                </tr>
                {{ else }}
                <tr>
                    <td colspan="{{ if .User.IsAdmin }}5{{ else }}4{{ end }}" class="no-problems">
                        No problems found
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <a {{ if gt .CurrentPage 1 }} href="/addedproblems?page={{ sub .CurrentPage 1 }}" {{ end }} class="pagination-link">Previous</a>
        {{ if gt .CurrentPage 1 }}
            <a href="/addedproblems?page=1" class="pagination-link">1</a>
            {{ if gt .CurrentPage 2 }}
                <a class="pagination-link">...</a>
            {{ end }}
        {{ end }}

        <span class="pagination-current">{{.CurrentPage}}</span>

        {{ if lt .CurrentPage .TotalPages }}
            {{ if lt (add .CurrentPage 1) .TotalPages }}
                <a class="pagination-link">...</a>
            {{ end }}
            <a href="/addedproblems?page={{.TotalPages}}" class="pagination-link">{{.TotalPages}}</a>
        {{ end }}
        <a {{ if lt .CurrentPage .TotalPages }} href="/addedproblems?page={{ add .CurrentPage 1 }}" {{ end }} class="pagination-link">Next</a>
    </div>
</div>
{{ end }}