{{ define "title" }}{{ .Profile.Username }}{{ end }}

{{ define "content" }}
<div>
    <h2>{{ .Profile.Username }}</h2>
    <p>Role:
        {{ if .Profile.IsAdmin }} 
            Admin
            {{ if .User.IsAdmin }}
                <form action="/demote-user" method="POST">
                    <input type="hidden" id="user_id" name="user_id" value="{{ .Profile.ID }}">
                    <button type="submit">Remove Admin</button>
                </form>
            {{ end }}
        {{ else }}
            User 
            {{ if .User.IsAdmin }}
                <form action="/promote-user" method="POST">
                    <input type="hidden" id="user_id" name="user_id" value="{{ .Profile.ID }}">
                    <button type="submit">Make Admin</button>
                </form>
            {{ end }}
        {{ end }} 
    </p>
    <p>Total Submissions: {{ .Profile.TotalSubmissions }}</p>
    <p>Successful Submissions: {{ .Profile.SuccessfulSubmissions }}</p>
    <p>Success Rate: {{ successRate .Profile.SuccessfulSubmissions .Profile.TotalSubmissions }}</p>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Submission ID</th>
                <th>When</th>
                <th>Problem</th>
                <th>Status</th>
                <th>Time</th>
                <th>Memory</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Profile.Submissions }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .When }}</td>
                    <td><a href="/problem/{{.Problem.ID}}">{{.Problem.Name}}</a></td>
                    <td>{{ .Status }}</td>
                    <td>{{ .Time }}</td>
                    <td>{{ .Memory }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}