{{ define "title" }}Sign Up{{ end }}

{{ define "content" }}

<h1>Sign Up</h1>
<form action="/signup" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required minlength="3">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required minlength="8">
    </div>
    <div>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" 
                required oninput="checkPasswordMatch(this)">
    </div>
    <div>
        <button type="submit">Create Account</button>
    </div>
</form>
<div>
    <p>Already have an account? <a href="/login">Log in</a></p>
</div>

<script>
    function checkPasswordMatch(confirmPassword) {
        const password = document.getElementById('password');
        if (confirmPassword.value !== password.value) {
            confirmPassword.setCustomValidity("Passwords don't match.");
        } else {
            confirmPassword.setCustomValidity('');
        }
    }
</script>

{{ end }}